@import "tailwindcss";

:root {
  --background: #e5e5e5;
  --backdrop: #00000033;
  --inverse-background: #343a40;
  --inverse-background-hover: #3f454b;
  --inverse-background-pressed: #2d3237;

  --text-primary: #495057;
  --text-secondary: #6c757d;
  --text-inverse: #ffffff;

  --highlight: #d4a373;
  --highlight-active: #e3b988;
  --divider: #c4c4c4;

  --font-roboto: 'Roboto', sans-serif;
  --font-lora: 'Lora', serif;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-lora);
}
